.App {
  text-align: center;
}

.title {
  color: white;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #33FF71, 0 0 40px #33FF71,
    0 0 50px #33FF71, 0 0 60px #33FF71, 0 0 70px #33FF71;
  font-size: 3rem;
}